body {
    Background-color: black
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: lightgray;
}

div {
border-width: 2px;
border-style: dotted;
width: 100px;
height: 100px;
color: white;
}

ol {
    list-style: upper-latin;
    color: white;
}

ul {
    list-style: square;
    color: white;
}